@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}

.banner-container {
    display: flex;
    margin: 100px auto 60px;
    justify-content: space-around;
    align-items: center;
    background-color: #C6E4D6;
    max-width: 1280px;
    max-height: 560px;
    border-radius: 20px;
    padding: 80px 0;
}

.banner-image img {
    width: 475px;
    height: 400px;
}

.banner-header {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: medium;
    margin-bottom: 15px;
}

.banner-text {
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 15px;
}

.btn-prm {
    color: #fff;
    border-radius: 10px;
    background-color: rgb(0, 106, 80);
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
}

.vision-container,
.news-container,
.donation-container {
    margin: 0 auto;
    max-width: 1280px;
}

.vision-header,
.news-header,
.donation-header {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0;
}

.vision-text,
.news-text,
.donation-text {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.vision-card-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.vision-card1 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 30px;
    text-align: left;
}

.vision-card2 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 30px;
    text-align: left;
}

.vision-card3 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 30px;
    text-align: justify;
}

.vision-name {
    margin: 10px 0;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.vision-details {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.learn1 {
    border-radius: 8px;
    background: rgb(84, 144, 245);
    margin: 15px 0 0;
    padding: 10px 20px;
}

.learn2 {
    border-radius: 8px;
    background: rgb(9, 161, 92);
    margin: 15px 0 0;
    padding: 10px 20px;
}

.learn3 {
    border-radius: 8px;
    background: rgb(255, 194, 57);
    margin: 15px 0;
    padding: 10px 20px;
}

.news-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
}

.news-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    border: 1px solid rgba(235, 228, 228, 0.822);
    border-radius: 15px;
    box-shadow: 8px 4px rgba(245, 245, 245, 0.863);
    padding: 48px;
}

.read {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    margin: 15px 0;
    padding: 10px 20px;
}

.news-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.news-timeline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}

.card-des,
.news-timeline {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.card-image img {
    border-radius: 24px;
}

.donation-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
}

.donation-card {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(235, 228, 228, 0.822);
    box-shadow: 8px 4px rgba(245, 245, 245, 0.664);
}

.amount {
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
}

.donation-input {
    border: 1px solid rgba(235, 228, 228, 0.822);
    box-shadow: 8px 4px rgba(245, 245, 245, 0.664);
    padding: 20px 40px;
    margin: 32px 16px;
}

.input-field {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border: none;
    outline: none;
}